<h2><%= @upload.band_name %>,</h2>

<h2>Here is your t-shirt! Download the images and follow the steps below.</h2>


<p><img src="<%= @upload.cloud_1200_mockup %>" width="300"><br><b>Click <a href="<%= @upload.cloud_1200_mockup %>">here</a> to download your shirt with a WHITE background.</b></p>

<p><img src="<%= @upload.cloud_1200_light %>" width="300"><br><b>Click <a href="<%= @upload.cloud_1200_light %>">here</a> to download your shirt with a LIGHT background.</b></p>

<p><img src="<%= @upload.cloud_1200_dark %>" width="300"><br><b>Click <a href="<%= @upload.cloud_1200_dark %>">here</a> to download your shirt with a DARK background.</b></p><br>


<h2>Add ToneThreads as a Fulfillment Partner on Bandcamp</h2>
<p><b><i>You only need to do this once: If you've already added ToneThreads as a fulfillment partner, you can skip this step.</i></b></p>

<ol>
<li><b>Go here: <a href="http://<%= @upload.bancamp_url %>.bandcamp.com/merch_orders"><%= @upload.bancamp_url %>.bandcamp.com/merch_orders</b></a>
<br>You can also access this page by going to your tools page in Bandcamp and clicking the Physical Orders > Manage physical orders Link.</li><br>
<li>Click on "Click here to give a fulfillment partner access to this page" and enter in this email address: <b>bandcamp@tonethreads.com</b></li><br>
<li>Click <b>"Email"</b> and you're done!</li>
</ol><br>

<h2>Add Your T-Shirt to Bandcamp</h2>
<p><b><i>Important: All dollar amounts are in USD.</b></i><i> You can charge fans in your local currency on Bandcamp if you like. <a href="https://tonethreads.com/faq#cx">Here</a> is a handy little currency converter for you to use.</i></p>

<ol>
<li><b>Click the "add merch" link in the header in your Bandcamp account.</b><br>If this is the first time you've added merch, you'll be asked to set your country and tax settings. ToneThreads includes taxes in our costs but if you want to charge additional taxes, that's up to you. You'll also have to enter in shipping info and a return policy. For this info, go <a href="http://tonethreads.com/shipping-returns">here</a>.</li><br>
<li>Select T-Shirt/Apparel.</li><br>
<li>Enter in the same title you gave your t-shirt on ToneThreads: <b><%= @upload.shirt_name %></b></li><br>
<li>Add something catchy for the description.</li><br>
<li><b>Download the preview images in this email and upload as many of them as you like to Bandcamp.</b></li><br>
<li><b>Set the price of your shirt. ToneThreads will charge you $12 plus an additional $2 for 2XL and 3XL sizes.</b> Anything above this is yours to keep. You will only be charged once you’ve been paid by your fans on Bandcamp.
</li><br>
<li><b>Orders will be shipped within 7 days of being placed. Shipping will cost $5 for US and $8 for the rest of the world. Additional shirts in the same order will cost an extra $2 for the US and $3 for international orders.</b></li><br>
<li>You can leave the quantity field empty unless you want this to be a limited edition tee, then enter in how many you want to sell.</li><br>
<li><b>Set up the t-shirt size options: Unisex S, M, L, XL, 2XL, 3XL and Women's S, M, L, XL are available.</b> You can sell any combination of these sizes that you like. Click <a href="http://tonethreads.com/sizes">here</a> for more info on sizes.</li><br>
<li>Include a digital download with your shirt - We highly recommend you do this.</li><br>
<li><b>Save your new t-shirt. </b>Double check that everything looks good and when you're ready, make it public.
<br>Your T-Shirt URL on Bandcamp should be: <a href="http://<%= @upload.bancamp_url %>.bandcamp.com/merch/<%= @upload.shirt_name.downcase.gsub(" ","-") %>"><%= @upload.bancamp_url %>.bandcamp.com/merch/<%= @upload.shirt_name.downcase.gsub(" ","-") %></a></li>
</ol><br>

<h2>Buy Your T-Shirt at Artist Prices</h2>
<p><b><i>Sell them at your shows!</i></b><i> You can also sell them from Bandcamp the “old fashioned” way and ship them yourself to give you and your fans a better deal - Just put ToneThreads on “pause” by removing us as a fulfilment partner. If you run out of shirts or go on tour and are too busy, just re-add us! Simple.</i></p>

<ul><li><b>Click <a href="https://artist.tonethreads.com/form/51426401240945?&token_108=457865nRs2N389nAK84CeaF4TzQfNdT73ZrtQx37n3Kg&artist=<%= @upload.band_name %>&tshirt=<%= @upload.shirt_name %>&Email=<%= @upload.user_email %>">HERE</a> to get an instant quote for your t-shirts.</b></li></ul><br>




<h2>If you have any questions, <a href="http://tonethreads.com/faq">visit our FAQ</a> or just reply to this email.</h2>

<p><i>ToneThreads is currently in Beta Mode. But our process is tight and your shirt will rock. We just want to give you a heads up because ToneThreads is new and we are classy people.</i></p>
<center><img src="https://tonethreads.com/tonethreads_logo_blue.png"></center>

