<%= form_for(@upload) do |f| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :paypal_email %><br />
    <%= f.label :paypal_email, "Yes", :value => "true"  %>
    <%= f.radio_button :paypal_email, true %>
    <%= f.label :credit_card, "No", :value => "false" %>
    <%= f.radio_button :paypal_email, false, :checked => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
